extends ../layout

block content
  .container.contents-container
    h1 Teacher View
    table.table
      thead  
        th(scope="col") Name
        th(scope="col") Ngày sinh
        th(scope="col") SĐT
        th(scope="col") Nơi ở
        th(scope="col") Class name
        th(scope="col") Action
      tbody
          tr 
            td= teacher_item.name
            td= teacher_item.birthdate
            td= teacher_item.phone_number
            td= teacher_item.address 
            td= class_name
            td
              button(class="view-btn btn btn-danger", id="editBtn") Edit
              button(class="view-btn btn btn-danger", id="delTeacher-btn") Delete
    form(id="update-teacher-form", class="update-form")
      input.form-control(name="username", type="text", placeholder="Name")
      input.form-control(name="date", type="text", placeholder="Ngày sinh")
      input.form-control(name="sdt", type="text", placeholder="SĐT")
      input.form-control(name="address", type="text", placeholder="Nơi ở")
      p(id="alert", style="color: red; display: none")
      button.btn.btn-primary(id="updateTeacherBtn") Submit
